<h1>Make your form here</h1>
<label> Make a new pirate </label>
<form method="post" action="/pirates">
  Pirate Name: <input type="text" name="pirate[name]"><br>
  Pirate Weight: <input type="text" name="pirate[weight]"><br>
  Pirate Height: <input type="text" name="pirate[height]"><br>
  <label> Make a new ship </label>
  First Ship Name: <input id="ship_name_1" type="text" name="pirate[ships][][name]"><br>
  First Ship Type: <input id="ship_type_1" type="text" name="pirate[ships][][type]"><br>
  First Ship Booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"><br>
  <label> Make another new ship </label>
  Second Ship Name: <input id="ship_name_2" type="text" name="pirate[ships][][name]"><br>
  Second Ship Type: <input id="ship_type_2" type="text" name="pirate[ships][][type]"><br>
  Second Ship Booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"><br>
  <input type="submit" value="Submit">
</form>
